* {
    margin: 0;
    font-size: 1.1rem;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(7, 7, 7);
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    height: 3.5rem;
    margin: 1.25rem 0;
    image-rendering: pixelated;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {

}

#map {
    width: 50rem;
    height: 20rem;
}

#data {
    margin: 3rem 0;
}

button {
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

form {
    display: block;
}