* {
    margin: 0;
    font-size: 1.1rem;
    padding: 0;
}

body {
    font-family: 'Monaco', monospace;
    background-color: rgb(7, 7, 7);
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    height: 2rem;
    margin: 0.75rem 0;
    image-rendering: pixelated;
}

canvas {
    image-rendering: pixelated;
    width: 100%;
}

#info {
    display: flex;
    height: 100px;
}

#info-left{
    margin-left: auto;
}

#title {
    text-align: center;
}

#message {
    text-align: center;
}

#list {
    margin-left: auto;
    height: 100%;
    width: 15rem;
}

footer {
    background-color: rgb(31, 31, 31);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.25rem 0;
}

#text-box {
    margin: 0.5rem;
    outline: none;
    width: 50%;
    background-color: black;
    border-style: solid;
    color: white;
}