* {
    margin: 0;
}

body {
    font-family: 'Monaco', monospace;
    background-color: black;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    height: 2rem;
    margin: 1rem 0;
    image-rendering: pixelated;
}

canvas {
    image-rendering: pixelated;
    width: 100%;
}