
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='start.css') }}">
    <script src="{{ url_for('static', filename='start.js') }}"></script>
    <script src="{{ url_for('static', filename='start_requester.js') }}"></script>
  </head>
  <body>
    <header><img src="{{url_for('static', filename='miniciv.png')}}" id="logo"></header>
    <div id="container">
      <div id="box">
        <div id="map"></div>
        <form action="/game/">
          <button onclick="startGame()">Start Game</button> 
        </form>
      </div>
    </div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>

